Repository specklesystems/speckle-sharp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clairekuang, @connorivy, @teocomi, @alanrynne, @jozseflkiss

add refs to submodule
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
Owners: @teocomi, @connorivy

feat(xUnit): don't close files if tests fail
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
Owners: @teocomi, @connorivy

Native AS Grating to Speckle
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.DxfNames.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
Owners: none

silence speckle connector
  ConnectorRevit/ConnectorRevit/Entry/App.cs
Owners: none

only run one test fixture at a time
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Owners: none

Specializing Polybeam structure
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
Owners: none

added speckleObjectTestNumber to "Beam" file
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Owners: none

Created CheckAdvanceSteelObject function
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Owners: none

fix(rvt): Regenerate doc after creating freeform instance
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
Owners: none

fix(gh): Extract parameter position is now consistent (#2275)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStatefulParam.cs
Owners: none

feat(AdvanceSteel): Grating To Speckle Object (#2273)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.DxfNames.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
Owners: none

feat(gh): Added traceId and grasshopperComponent context props
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/GH_SpeckleAsyncComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/GH_SpeckleComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/GH_SpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/ISpeckleTrackingComponent.cs
Owners: none

Grating Adjusts to AdvanceSteelObject
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
Owners: none

docs(objects): Added Plane XML comments
  Objects/Objects/Geometry/Plane.cs
Owners: none

docs(objects): Added Polyline inheritdoc xml docs
  Objects/Objects/Geometry/Polyline.cs
Owners: none

docs(objects): Pointcloud xml docs
  Objects/Objects/Geometry/Pointcloud.cs
Owners: none

fix(objects): Removed unnecessary using statements
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Box.cs
Owners: none

docs(objects): Surface xml docs
  Objects/Objects/Geometry/Surface.cs
Owners: none

docs(objects): Added Polycurve XML methods
  Objects/Objects/Geometry/Polycurve.cs
Owners: none

docs(objects): Added Circle xml comments
  Objects/Objects/Geometry/Circle.cs
Owners: none

docs(objects): Added Mesh xml comments
  Objects/Objects/Geometry/Mesh.cs
Owners: none

docs(objects): Polyline xml docs
  Objects/Objects/Geometry/Polyline.cs
Owners: none

docs(objects): Added Curve xml docs
  Objects/Objects/Geometry/Curve.cs
Owners: none

feat(advancesteel): command line utility to create or update the advancesteel manifest
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/AdvanceSteelAddinRegistrator.csproj
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/App.config
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Schema.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Schema.xsd
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
Owners: @clairekuang

run the send operation in revit context
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
Owners: none

fix(advancesteel): some weird solution issues
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.sln
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
Owners: @clairekuang

chore(objects): Adds XML comments to several geometry classes (#2284)
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Box.cs
  Objects/Objects/Geometry/Circle.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Plane.cs
  Objects/Objects/Geometry/Pointcloud.cs
  Objects/Objects/Geometry/Polycurve.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Geometry/Surface.cs
Owners: none

Advancesteel addin registration (#2283)
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/AdvanceSteelAddinRegistrator.csproj
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/App.config
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Schema.cs
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Schema.xsd
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.sln
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
Owners: @clairekuang

Removed The schema info props of constructor parameterless
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
Owners: none

Using Collections added
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
Owners: none

Extracted common code snippets from connector bindings into ConnectorHelpers
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Owners: none

Connector logging refactor in Revit
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Owners: none

add support for 1D built elements
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBeam.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBuiltElement.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
Owners: none

support updating for built elements
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBuiltElement.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
Owners: none

add back result conversion
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
Owners: none

remove unused props
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
Owners: none

feat(objects): RevitWall by Face now stores BREP instead of Surface (#2277)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Objects/BuiltElements/Wall.cs
Owners: none

Further reduced boilerplate required in connector bindings
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Owners: none

feat(core): new SchemaComputedAttribute class
  Core/Core/Kits/Attributes.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Objects/Objects/Other/Instance.cs
  Objects/Tests/GenericTests.cs
Owners: none

Fixed merge conflict errors
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Owners: none

.github/CODEOWNERS:

# SPECKLE-SHARP OWNERS

# Global owner is the connectors team. This ensures everyone get's pinged if no owner is found

# * @specklesystems/connectors

# Core
# Not needed, falls back on team approval

# Objects
#   Converters require product owner approval, anything else falls back to team approval

Objects/ConverterAutocadCivil/* @clairekuang @connorivy
Objects/ConverterCSI/* @connorivy
Objects/ConverterDynamo/* @teocomi @alanrynne
Objects/ConverterMicrostation/* @connorivy
Objects/ConverterRevit/* @connorivy @teocomi
Objects/ConverterRhinoGh/* @alanrynne @clairekuang
Objects/ConverterTeklaStructures/* @connorivy
Objects/StructuralUtilities/PolygonMesher/* @connorivy

# Connectors

ConnectorAutocadCivil/* @clairekuang
ConnectorArchicad/* @jozseflkiss
ConnectorCSI/* @connorivy
ConnectorDynamo/* @teocomi @alanrynne
ConnectorGrasshopper/* @alanrynne @clairekuang
ConnectorMicrostation/* @clairekuang
ConnectorRevit/* @teocomi @connorivy
ConnectorRhino/* @clairekuang @alanrynne
ConnectorTeklaStructures/* @connorivy

# DesktopUI

DesktopUI2/* @teocomi @clairekuang
