Repository specklesystems/speckle-sharp, pull requests merged in 2020-11, with the labels that each got.

#98 👌 Show user if there are no local accounts
  Core/Core/Credentials/AccountManager.cs
  DesktopUI/DesktopUI/Accounts/AccountsRepository.cs
  DesktopUI/DesktopUI/RootView.xaml
  DesktopUI/DesktopUI/RootViewModel.cs
  DesktopUI/DesktopUI/Settings/SettingsView.xaml
  DesktopUI/DesktopUI/Streams/AllStreamsViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamsHomeView.xaml
  DesktopUI/DesktopUI/Streams/StreamsHomeViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamsRepository.cs
  DesktopUI/DesktopUI/Utils/Events.cs
  DesktopUI/DesktopUI/Utils/StreamState.cs
Labels: core, desktopui

#103 Dim/rhino plugin
  .vs/ConnectorGrashopper/DesignTimeBuild/.dtbcache.v2
  .vs/ConnectorGrashopper/config/applicationhost.config
  .vs/ConnectorGrashopper/v16/TestStore/1/000.testlog
  .vs/ConnectorGrashopper/v16/TestStore/1/testlog.manifest
  .vs/ConnectorGrasshopper/DesignTimeBuild/.dtbcache.v2
  .vs/Objects/DesignTimeBuild/.dtbcache.v2
  .vs/Objects/v16/TestStore/1/000.testlog
  .vs/Objects/v16/TestStore/1/testlog.manifest
  ConnectorRevit/ConnectorRevit/Globals.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRhino/ConnectorRhino.csproj
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhinoCommand.cs
  ConnectorRhino/Properties/AssemblyInfo.cs
  ConnectorRhino/README.md
  ConnectorRhino/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/packages.config
  DesktopUI/DesktopUI/RootView.xaml
  DesktopUI/DesktopUI/Streams/AllStreamsView.xaml
  DesktopUI/DesktopUI/Streams/StreamsHomeView.xaml
  README.md
Labels: rhino

#99 feat(objects): 〰️ Support for NURBS and BREPs!!
  ConnectorDynamo/.gitignore
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/Convert.ToNativeAsync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopper/InternalTestFiles/BrepTest.ghx
  ConnectorGrasshopper/ConnectorGrasshopper/InternalTestFiles/SurfaceTests.ghx
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Objects/Converters/ConverterDynamo/ConverterDynamo/Conversion.cs
  Objects/Converters/ConverterRevit/ConverterRevit/Partial Classes/Geometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/packages.config
  Objects/Converters/ConverterRevit/TestModels/Brep-Complex.json
  Objects/Converters/ConverterRevit/TestModels/Brep-CubeWithHole.json
  Objects/Converters/ConverterRevit/TestModels/Brep-FaceWithHole.json
  Objects/Converters/ConverterRevit/TestModels/Brep-NurbsWithHole.json
  Objects/Converters/ConverterRevit/TestModels/Brep-QuadDome.json
  Objects/Converters/ConverterRevit/TestModels/Brep-TrimmedFace.json
  Objects/Converters/ConverterRevit/TestModels/Brep-TwoFaces.json
  Objects/Converters/ConverterRevit/TestModels/Brep-TwoFacesWithHole.json
  Objects/Converters/ConverterRevit/TestModels/Brep-UnitCube.json
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGh/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGh/ConverterRhinoGh.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Surface.cs
Labels: enhancement, objects
