Repository specklesystems/speckle-sharp, pull requests merged in 2022-12, with the labels that each got.

#2001 Simple bugfix to allow conversion of Revit Spaces without a zone to S…
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Labels: hotfix-2.10

#2026 enhancement(Navisworks): Updates for alpha2
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2023/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Labels: enhancement, navisworks

#2027 enhancement(Navisworks): Updates for alpha2
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2023/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Labels: navisworks

#2033 fix(acad): removes collaborators form the stream state cache to limit…
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
Labels: acadcivil
