Repository specklesystems/speckle-sharp, pull requests merged in 2022-02, with the labels that each got.

#992 fix(gh): Schema object dialog now handles properly duplicated/deprecated schemas
  ConnectorGrasshopper/ConnectorGrasshopper/Accounts/Accounts.AccountDetails.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/Deprecated/Convert.ToNativeAsync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/Deprecated/Convert.ToSpeckleAsync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/Deprecated/Serialisation.DeserializeObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/Deprecated/Serialisation.SerialiseObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/GetObjectValueByKeyTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Properties/AssemblyInfo.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectDialog.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamCreateComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamUpdateComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Transports/SendReceiveTransport.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Transports/Transports.Disk.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Transports/Transports.Memory.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Transports/Transports.Sqlite.cs
  ConnectorGrasshopper/ConnectorGrasshopperUtils/CSOUtils.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/ETABSSpringProperty.cs
Labels: grasshopper, objects

#1036 Rhino: Render material
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino2.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Labels: enhancement, rhino

#1060 acad: displaystyle refactor
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil2.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Labels: acadcivil
