Repository specklesystems/speckle-sharp, pull requests merged in 2022-04, with the labels that each got.

#1156 GH/RVT: Add support for wall openings
  ConnectorGrasshopper/ConnectorGrasshopper/ConnectorGrasshopper.csproj
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertOpening.cs
  Objects/Objects/BuiltElements/Opening.cs
Labels: grasshopper, revit, objects

#1180 Rhino 7 will now output the correct PBR material properties
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Labels: bug, objects, rhino

#1217 Fixes 2.5.1 GH crash
  .circleci/config.yml
  ConnectorGrasshopper/ConnectorGrasshopper/ConnectorGrasshopper.csproj
Labels: bug, grasshopper
