Repository specklesystems/speckle-sharp, pull requests merged in 2023-04, with the labels that each got.

#2377 fix(Navisworks): Adds <UseWpf> to projects to enable CICD builds on linux/mac
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Labels: bug, navisworks

#2374 fix(Navisworks): Adds support for Navisworks 2024
  All.sln
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
  ConnectorNavisworks/ConnectorNavisworks2024/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Labels: navisworks

#2309 feat(AdvanceSteel): Beam Profiles and Refactoring
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelStraightBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/Enums.cs
  Objects/Objects/BuiltElements/AdvanceSteel/IAsteelObject.cs
  Objects/Objects/BuiltElements/AdvanceSteel/SecondaryObjects/AsteelSectionProfile.cs
  Objects/Objects/BuiltElements/AdvanceSteel/SecondaryObjects/AsteelSectionProfileDB.cs
  Objects/Objects/Structural/Property/SectionProfile.cs
Labels: external, advancesteel

#2415 fix(revit): floor outline flattening fix
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Labels: revit, hotfix

#2344 fix(Autocad): MText height property shows 0
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Labels: acadcivil, external

#2355 fix(revit): analytical stick conversion improvements
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Labels: revit, external

#2493 Dui/comment notification fix
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: desktopui
