Repository specklesystems/speckle-sharp, pull requests merged in 2023-06, with the labels that each got.

#2627 fix(dui): fatal crash when the SavedStrems state collection had items…
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Labels: bug, desktopui, hotfix

#2624 chore(core): updates sentry, avalonia and other packages minor verisons
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Core/Core/Core.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Objects/Tests/Tests.csproj
Labels: core, chore

#2626 hotfix(collections): Deprecated object models for backwards compatibility.
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Tests/ObjectModelDeprecationTests.cs
  Objects/Objects/Organization/Deprecated/Collection.cs
Labels: bug, enhancement, core, hotfix

#2633 fix(Archicad): Creation of library part as definitions speed regression fix
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
Labels: archicad, hotfix

#2639 fix(dui): #2605 handles exceptions during search
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Labels: bug, desktopui

#2621 fix(nugets): Packing release was broken due to wrong projects being packed
  All.sln
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Directory.Build.props
Labels: revit, objects

#2649 Feat(Revit) : Add support for 2024
  All.sln
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/ConnectorRevit2024/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Metric.rft
Labels: enhancement, revit

#2652 Chore(connectors): Removed usages of deprecated overloads
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
Labels: core, chore

#2650 Feat(Revit): send cropped meshes from view filter
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Labels: enhancement, revit, marketing

#2651 feat(core): Traversal optimisation by avoiding unnecessary traversal of dynamic properties
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/ITraversalRule.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
Labels: enhancement, core

#2641 feature(Navisworks): Enhance Selection Handling and Hierarchy Population
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/FilterTypes.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Types.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Labels: bug, enhancement, navisworks

#2670 feat(Navisworks): Retry Sending already converted objects. Implements #2668
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Resources/retry16.ico
  ConnectorNavisworks/ConnectorNavisworks/Resources/retry32.ico
Labels: navisworks

#2667 fix(Navisworks): Reset ConverterContext on each send. Fixes #2430
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Labels: bug, navisworks

#2666 fix(Navisworks): Division by zero errors on small models. Fixes #2665
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Labels: bug, navisworks, hotfix

#2678 fix(rhino): mapper wall logic for extrusions
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
Labels: bug, rhino, mapping-tool

#2634 feat(Archicad): Time profiler
  .gitignore
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateBeam.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateColumn.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDirectShape.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDoor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateFloor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateRoof.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateRoom.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateShell.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateSkylight.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWall.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWindow.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_FinishReceiveTransaction.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementType.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetModelOfElements.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetObjectData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetProjectInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoofData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetShellData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSkylightData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSubelementInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_SelectElements.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/ICommand.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/IElementConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  ConnectorArchicad/ConnectorArchicad/Helpers/Timer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.Designer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.resx
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Selection.cs
  Core/Core/Core.csproj
  Core/Core/Helpers/State.cs
  Core/Core/Logging/CumulativeTimer.cs
Labels: enhancement, archicad

#2679 fix(core): AccountManager.GetUserInfo was still using old user query
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ServerAccount.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
Labels: bug, core

#2625 feat(dui): check if stream exists
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/IntegrationTests/Api.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Labels: enhancement, desktopui, core

#2653 fix(revit): areas mesh and profile
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertArea.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Labels: bug, revit

#2671 feat(Core): Add `StreamWrapper` support for FE2 links
  Core/Core/Credentials/StreamWrapper.cs
  Core/Tests/FE2WrapperTests.cs
  Core/Tests/TestsUnit.csproj
  global.json
Labels: core

#2656 feat(rvt): Refactored categories logic into shared project
  All.sln
  ConnectorDynamo/ConnectorDynamo.sln
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRevit/RevitSharedResources/RevitSharedResources.shproj
  ConnectorRevit/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources2023/RevitSharedResources2023.csproj
  ConnectorRevit/RevitSharedResources2024/RevitSharedResources2024.csproj
  Directory.Build.props
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2021/ConverterDynamoRevit2021.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2022/ConverterDynamoRevit2022.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2023/ConverterDynamoRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Labels: enhancement, revit

#2694 feat: minor improvements for revit/gh categories
  All.sln
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Labels: enhancement, grasshopper, revit

#2660 feat(civil3d): adds `CivilProfile:Profile` class and updates ProfileToSpeckle conversion
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Profile.cs
Labels: enhancement, acadcivil

#2672 bug(Archicad): Mesh conversion improvements
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
Labels: archicad

#2697 feat(Navisworks): Options to include Internal Properties and Use Internal Property Names
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Autosave.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Manager.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Labels: enhancement, navisworks

#2693 fix(core): Fix for requests for invalid auth tokens failing
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: bug, core

#2674 feat(Archicad): Receiving block instances
  ConnectorArchicad/AddOn/CMakeLists.txt
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  Core/Core/Helpers/Constants.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Labels: enhancement, archicad

#2706 fix(Navisworks): Handle Incomplete Viewpoint Definitions
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Labels: bug, navisworks

#2709 fix(rhino): places objects from layers with invalid chars on correct layers
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Labels: bug, grasshopper, rhino

#2711 Fix(Tekla) : installer location fix
  All.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
Labels: bug, tekla

#2712 fix(gh): StreamUpdate now uses nullable boolean
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Labels: grasshopper

#2714 Fix(CSi) : add polygon mesher
  ConnectorCSI/ConnectorCSI.sln
  ConnectorCSI/ConnectorCSIShared/ConnectorCSIShared.projitems
  ConnectorCSI/ConnectorCSIShared/UnusedClass.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
Labels: CSI
