Repository specklesystems/speckle-sharp, pull requests merged in 2023-08, with the labels that each got.

#2819 Fix(Revit) : mesh gathering performance
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
Labels: enhancement, revit

#2655 Fix: Adds material quantities to MEP elements
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Labels: revit, external

#2833 feat(revit): replaces hardcoded list of categoris with a check by CategoryType
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Labels: enhancement, revit

#2837 Fix(Revit) : add curves for mep fitting
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
Labels: enhancement, revit, community

#2836 fix(gh): null check on CSI node
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSINode.cs
Labels: bug, grasshopper

#2825 Feat(Revit) : send performance enhancement
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2022/ConverterRevitTests2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AssertUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Labels: enhancement, revit

#2807 fix(civil): populates `curve` property of corridor featurelines
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Labels: bug, acadcivil

#2852 Fix(Revit) : Remove cool retractable roof feature
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Labels: bug, revit

#2853 fix(ci): Now using fixed win/server-2019 version as august release broke our pipeline
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Labels: bug

#2846 break(objects): adds new convert to native displayable bindings
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  Core/Core/Kits/ISpeckleConverter.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Labels: enhancement, core, objects

#2773 feat(revit) : adds non-length units to parameters
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Objects/BuiltElements/Revit/Parameter.cs
Labels: enhancement, revit, external

#2815 Fix: Using System.DoubleNumerics for Transforms (#2800)
  Core/Core/Core.csproj
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/ValueConverter.cs
  Core/Tests/Models/SerializerBreakingChanges.cs
  Core/Tests/Models/SerializerNonBreakingChanges.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Other/Transform.cs
  Objects/Tests/Geometry/TransformTests.cs
Labels: external

#2861 partial(rvt): DirectShape fallback working with new setting + resolution of some conflicting changes after dev merge
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Models/RevitConverterState.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Core/Core/Kits/ISpeckleConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Labels: revit

#2849 Fix(Revit) : fatal crash in Revit and speed upgrade for large receive operations
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Models/ErrorEater.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Labels: enhancement, revit

#2856 fix(rvt): Send objects that have no 3d representation to Speckle
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
Labels: enhancement, revit

#2866 feat(rhino): adds ceiling and footprint roof mappings
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
Labels: revit, rhino, mapping-tool

#2841 feat(revit): adds fallback option to receive displayable speckle objects as directshapes
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/RevitSharedResources/Models/RevitConverterState.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Core/Core/Models/Extensions.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDisplayableObject.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
  Objects/Objects/Geometry/Mesh.cs
Labels: enhancement, revit

#2869 Fix(Revit) : send slow down from parameter change
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/DefinitionExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/DisplayUnitTypeExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/ForgeTypeIdExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Objects/BuiltElements/Revit/Parameter.cs
Labels: bug, revit, regression-fix

#2860 fix(dui): do not break the get streams loop if one server times out
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Labels: bug, desktopui

#2870 feat(revit): support for linked models with the view filter
  All.sln
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Labels: enhancement, revit

#2876 feat(rhino): nested elements layers and parameters improvements when receiving revit commits
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Labels: enhancement, rhino
