Repository specklesystems/speckle-sharp, pull requests merged in 2023-03, with the labels that each got.

#2220 test(core): Serializer breaking changes tests
  Core/Tests/SerializerNonBreakingChanges.cs
Labels: core

#2234 enhancement(DUI): Adds a Flatten method to the TreeNode class. Closes #2233
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
Labels: enhancement, desktopui

#2235 fix(Navisworks): Changes hidden self and ancestor logic. Fixes #2051
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
Labels: bug, navisworks

#2237 fix(Navisworks): Various stability improvements
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Labels: bug, navisworks

#2182 Fix(Revit): Resolve stream receive: Conversion error: Room boundary line creation failed
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
Labels: revit, external

#2275 fix(gh): Extract parameter position is now consistent
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStatefulParam.cs
Labels: bug, grasshopper

#2277 feat(objects): RevitWall by Face now stores BREP instead of Surface
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Objects/BuiltElements/Wall.cs
Labels: grasshopper, revit, objects, rhino

#1945 fix(revit): send objects in family document
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCombinableElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Objects/BuiltElements/Revit/FreeformElement.cs
Labels: external

#2259 feat(rhino/objects): sends and receives layers as `Collection`
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
  Objects/Objects/Organization/Collection.cs
  Objects/Objects/Organization/Container.cs
  Objects/Objects/Other/DisplayStyle.cs
Labels: objects, rhino

#2264 feat(dui2): Improved receive exception handling
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitAsyncComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Core.csproj
  Core/Core/Credentials/Account.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Kits/ISpeckleKit.cs
  Core/Core/Kits/KitDeclaration.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Objects/ObjectsKit.cs
Labels: rhino

#2267 feat(Navisworks): Implement the Collections class and revise the tree conversions
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Obsolete/Accounts.AccountDetails.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamUpdateComponent.cs
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
Labels: navisworks

#2292 fix(gh): StreamGet and StreamUpdate were missing Task.Run
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Labels: bug, grasshopper

#2282 feat(AdvanceSteel): Specializing Beam to Polybeam
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelObject.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
Labels: advancesteel

#2293 Connector exception handling fixes
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: Tekla Structures, CSI

#2346 fix(Navisworks): avoid the `Item` reserved property name for Indexed data structures
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Labels: bug, navisworks

#2358 fix(gh): Lower AccountList "no accounts" message to be warning
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
Labels: enhancement, grasshopper

#2368 Linked models & shared coords improvements
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Labels: hotfix
