Repository specklesystems/speckle-sharp, pull requests merged in 2023-11, with the labels that each got.

#3021 fix(dui): bump branch limit to 500
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: desktopui

#3025 chore(dev): Remove CRL check from proxy client
  Core/Core/Helpers/Http.cs
  Directory.Build.props
Labels: core

#3019 fix(rvt): Modify signature of `RevitConverter.UpdateParameter` to return AppObj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/UpdateParameter.cs
Labels: bug, revit

#3026 Update `dev` with changes from `main`
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/UpdateParameter.cs
Labels: chore

#3020 fix(gh): Fixes sorting on dropdown for input enum values
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperUtils/UserInterfaceUtils.cs
Labels: bug, grasshopper

#3024 log(structral): Unified logging between structural connectors
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorCSI/ConnectorCSIShared/cPlugin.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
Labels: desktopui, revit, tekla, CSI

#3013 feat(Archicad): Send and receive layer information
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateColumn.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateRoof.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateShell.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateZone.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/ConnectorArchicad/Elements/Object.cs
  ConnectorArchicad/ConnectorArchicad/Elements/Room.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Labels: enhancement, archicad

#3014 feat(Archicad): Collections support
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Labels: enhancement, archicad

#3023 feat(objects/revit): new `RebarGroup` class and `RebarToSpeckle` conversion in Revit
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
  Objects/Objects/BuiltElements/Rebar.cs
Labels: revit, objects

#3029 chore(CSI): added exception for failing areas and frames
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
Labels: CSI

#3031 Create Archicad levels based on elevation
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetShellData.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
Labels: enhancement, archicad

#3032 fix(archicad): Archicad nullable levels fix
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Wall.cs
Labels: archicad

#3033 feat: changes the default server URL
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Labels: core

#3034 fix(Archicad): Crash when sending a Corner Window
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
Labels: bug, archicad

#3048 fix(Archicad): Timeout after 100s when sending large models #2
  ConnectorArchicad/ConnectorArchicad/Communication/ConnectionManager.cs
Labels: bug, archicad, regression-fix

#3057 feat(gh): Add support for TextEntity conversion both ways.
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Labels: enhancement, grasshopper

#3056 fix (navisworks): Handle calling Clash API and receiving nothing back
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Labels: navisworks
