Repository specklesystems/speckle-sharp, pull requests merged in 2023-09, with the labels that each got.

#2875 feat(revit): receive GIS topography
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Objects/GIS/GisTopography.cs
Labels: enhancement, revit

#2888 feat(revit): adds roomId and worksetId
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Models/ParameterToSpeckleData.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Labels: enhancement, revit

#2877 feat(Archicad): Revit add support for Zones - Archicad side
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateZone.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetZoneData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetZoneData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateRoom.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Elements/Room.cs
  Objects/Objects/BuiltElements/Room.cs
Labels: enhancement, archicad

#2884 feat(rvt): Adds Block to Family conversion
  .vscode/settings.json
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/Templates/2020/Block - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2020/Block - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2021/Block - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2021/Block - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2022/Block - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2022/Block - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2023/Block - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2023/Block - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2024/Block - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Block - Metric.rft
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
  Objects/Objects/Other/MappedBlockWrapper.cs
  Objects/Objects/Other/Transform.cs
Labels: enhancement, revit

#2895 fix(gh): fixes OutputChange bug in DSO that was forcing a param rebuild everytime
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
Labels: grasshopper

#2901 fix(DUI): Wording alignment between web and dui. Improved semantics.
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
Labels: desktopui, ✂️ paper-cut

#2899 chore(revit): update some settings description and dialog message
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MissingIncomingTypesDialog.xaml
Labels: enhancement, revit

#2903 fix(revit): Category not assigned to Blocks>NewFamily
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Labels: enhancement, revit

#2909 fix(navis): no geometry sent
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Labels: navisworks, regression-fix

#2914 fix(Navis): Localised versions of Navis will now correctly build the commit object
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Labels: bug, navisworks

#2917 fix(revit): do not show the missing types dialog if the DS fallback option is set to Always
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
Labels: enhancement, revit

#2926 fix(revit): type mapping null reference
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
Labels: revit

#2928 fix(rvt): Exclude Schedules from Everything filter, only send when category is selected
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Labels: revit

#2935 fix(Archicad): Room deserialisation fix
  Objects/Objects/BuiltElements/Room.cs
Labels: archicad

#2925 chore(core): Make client functions consistent with cancellation token position
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamCreateComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamListComponentV2.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObjectOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ServerOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Models.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
Labels: core, chore

#2961 Implemented Traversal Refactor for CSI connectors
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
Labels: CSI

#2951 feat(revit): Support for TopoSolid
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertToposolid.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.cs
  Objects/Objects/BuiltElements/Revit/RevitToposolid.cs
Labels: revit, objects

#2971 feat(dynamo): revit 2024 support
  All.sln
  ConnectorDynamo/ConnectorDynamo.sln
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamo/Properties/launchSettings.json
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2024/ConverterDynamoRevit2024.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2024/Properties/launchSettings.json
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Units.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Objects/ObjectsKit.cs
Labels: dynamo
