Repository specklesystems/speckle-sharp, pull requests merged in 2023-10, with the labels that each got.

#2974 fix(rhino): default to using speckle id when creating render materials with no name
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Labels: rhino

#2987 feat(revit): send builtInCategories
  Objects/Converters/ConverterRevit/ConverterRevitShared/AllRevitCategories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDisplayableObject.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Objects/BuiltElements/Revit/DirectShape.cs
Labels: bug, revit

#2992 fix(advancedsteel): Fixed issue with advanced steel breaking nuget CI
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Labels: bug, advancesteel

#2989 feat: check if server is using fe2
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/AccountManager.cs
Labels: enhancement

#3002 Hotfix(Revit) : change detail level settings via advanced settings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBuildingPad.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStair.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopRail.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Labels: enhancement, revit, hotfix

#2967 feat(batchUploader): Batchuploader Client
  All.sln
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploaderClient.cs
  ConnectorCore/BatchUploader.Sdk/CommunicationModels/Models.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/RevitApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Transports/Server.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Directory.Build.props
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
  SDK.slnf
Labels: enhancement

#3009 chore(objects): corrected nullability to objects in structural namespace
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Structural/Analysis/Model.cs
  Objects/Objects/Structural/Analysis/ModelInfo.cs
  Objects/Objects/Structural/Analysis/ModelSettings.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement1D.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement2D.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSINode.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSITendon.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSISpringProperty.cs
  Objects/Objects/Structural/Geometry/Node.cs
  Objects/Objects/Structural/Loading/Load.cs
  Objects/Objects/Structural/Loading/LoadBeam.cs
  Objects/Objects/Structural/Loading/LoadFace.cs
  Objects/Objects/Structural/Loading/LoadNode.cs
  Objects/Objects/Structural/Material/StructuralMaterial.cs
  Objects/Objects/Structural/Property/Property1D.cs
  Objects/Objects/Structural/Property/Property2D.cs
  Objects/Objects/Structural/Results/ResultAll.cs
Labels: objects
