Repository specklesystems/speckle-sharp, pull requests merged in 2023-12, with the labels that each got.

#3092 fix(csi): CNX-8342 Fix CA1806 for CSI projects
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
Labels: CSI

#3098 fix(dui): broken fe2 url when in oneclick mode
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
Labels: desktopui

#3090 fix(all): CNX-7446 - ⚠️ CA1806 Fix
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  Directory.Build.props
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/BuiltElements/Wall.cs
Labels: enhancement

#3094 feat(Core): CNX-8352 operations.send
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Tests/ClosureTests.cs
  Core/Tests/SendReceiveLocal.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  Directory.Build.props
Labels: core, tech debt

#3108 fix(sln): Added postProject build dependencies for missing connector
  All.sln
Labels: chore

#3107 fix(navisworks) CNX-7436 navisworks is sending xzyz flip
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Labels: bug, navisworks
