Repository specklesystems/speckle-sharp, pull requests merged in 2023-07, with the labels that each got.

#2724 feat(Navisworks): Option to coalesce all data from First Object to the Geometry Node
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Labels: enhancement, navisworks

#2735 fix(tekla): properly load DUI after it's been closed, sets the window owner
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/Properties/launchSettings.json
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
Labels: tekla

#2736 fix(Archicad): Parametric receive fixes
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Settings.cs
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Labels: bug, archicad

#2734 fix(Archicad): Receive all kind of instances
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
Labels: archicad

#2740 bug(Archicad): Element type names in Archicad 25
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementBaseData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/AddOn/Sources/AddOnResources/RINT/AddOn.grc
Labels: bug, archicad

#2769 fix(rhino): mapping constraints on polylines and facewalls
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Labels: bug, rhino, mapping-tool

#2761 feat(objects): only load converters matching the version of the Objects dll
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  Objects/Objects/ObjectsKit.cs
Labels: enhancement, core

#2774 Feat(Tekla) : receive instances in Tekla
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Objects/Other/Instance.cs
Labels: bug, community, tekla

#2776 fix(Archicad): Receive cancellation behaviour
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Labels: bug, archicad

#2721 feat(revit): add revit air terminal category
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
Labels: revit, external

#2775 Fix(Revit) : Don't show every mapped value for each receive operation
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
Labels: bug, revit, mapping-tool

#2766 fix(Navisworks): Closing 2.15 UX/UI papercuts
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Labels: ✂️ paper-cut, navisworks

#2759 fix(Navisworks): Handles lack of One-click-send implementation causing host app to be unresponsive
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Labels: navisworks, hotfix

#2444 feat(AdvanceSteel): Mechanism to get main properties of native objects
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Gratings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASBaseProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASProperty.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertyMethods.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASTypeData.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/IASProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/AtomicElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/PolybeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelStraightBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/IAsteelObject.cs
Labels: community, external, advancesteel

#2783 log(revit): Added missing exception to log
  All.sln.DotSettings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Labels: revit

#2782 fix(core): Fixed issue with blob storage folder being ignored in server transport
  Core/Core/Transports/ServerV2.cs
Labels: bug, core

#2791 fix(autocad): Fixed issue where logger was being used before setup wa…
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
Labels: acadcivil, hotfix

#2794 fix(Archicad): Receive cancellation handling improvement
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Labels: bug, archicad

#2795 feat(AdvanceSteel): inserting bolt properties into the model
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BoltPatternProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/ConstructionElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/FilerObjectProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/ScrewBoltPatternProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Labels: external, advancesteel

#2804 Updates `dev` with changes in `main`
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/nuget.config
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Labels: chore

#2796 core: hotfix for sqlite transport swallowing exception when failing t…
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/SQLite.cs
Labels: core, hotfix

#2799 fix(dui2): Fixed issue with unresponsive progress bar
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: bug, desktopui

#2801 fix(revit): Blender instances receive
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Labels: bug, revit
