Repository specklesystems/speckle-sharp, pull requests merged in 2023-02, with the labels that each got.

#2118 Feat(Rhino): include standard views viewport in Project Info when sending
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Labels: external

#2095 Release 2.12 additions for Navisworks Alpha
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  DesktopUI2/DesktopUI2/Models/Settings/NumericSetting.cs
  DesktopUI2/DesktopUI2/Models/Settings/TextBoxSetting.cs
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Labels: navisworks

#2147 chore(Navisworks): Codestyle changes, no functional change
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Commands/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Labels: navisworks, hotfix-2.12

#2136 Fix(Revit): Resolve received room separation lines association to the wrong level
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Objects/BuiltElements/Revit/ModelCurves.cs
Labels: external

#2155 perf(rhino): minor mesh to native performance optimisation
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Labels: rhino

#2156 log(rhino): connector logging refactor/scoping
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/FilterViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/LogInViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Labels: rhino

#2144 chore(CI): Optimised build time
  .circleci/scripts/config-template.yml
  Objects/Tests/Tests.csproj
Labels: CI

#2179 Optimised polyline to native performance
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Geometry/Polyline.cs
Labels: grasshopper, rhino

#2189 fix(navisworks): Fixes recalling saved views from a filter selection #2188
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
Labels: navisworks

#2191 fix:(navisworks): No longer require wgl.
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Labels: navisworks
