Repository specklesystems/speckle-sharp, pull requests merged in 2024-01, with the labels that each got.

#3120 fix(Revit): CNX-8655 - handle FabricationPart host retrieval
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
Labels: bug, revit

#3114 feat(Core): CNX-8570, CNX-8393 Transporter exception cleanup and IsFatal(this Exception) function
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Constants.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Helpers/Path.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Kits/Units.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/ExceptionHelpers.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Blob.cs
  Core/Core/Models/Collection.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/GzipContent.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  Core/Tests/Kits/KitManagerTests.cs
  Core/Tests/Kits/TestKit.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Labels: core

#3118 fix:(tekla): CNX-8391 Handle warnings CA1031
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
Labels: tekla, chore, tech debt

#3130 Chore(Tests): CNX-8640 core integration test project
  .editorconfig
  Core/Tests/Speckle.Core.Tests.Integration/Api.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Integration/ServerTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Streams.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.Exceptional.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SerializationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/FE2WrapperTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/Path.cs
  Core/Tests/Speckle.Core.Tests.Unit/Kits/KitManagerTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/BaseTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/ExceptionTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Hashing.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/TraversalTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Serialisation/SerializerNonBreakingChanges.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
  Directory.Build.targets
Labels: core
