Repository specklesystems/speckle-sharp, pull requests merged in 2024-07, with the labels that each got.

#3567 [CNX-9823] add material quantity attribute to archicad elements
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpening.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.hpp
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
Labels: enhancement, archicad

#3575 fix(core): Fixed issue with DisplayValue helper functions
  Core/Core/Models/Extensions/BaseExtensions.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/DisplayValueTests.cs
Labels: bug, core, hotfix

#3577 CNX-9877-units-fix
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Labels: bug, good first issue, community, CSI
